html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 768px){
    .nav-bar{
    display: flex;
    list-style: none;
    gap: 50px;
    background-color: #33142E;
    text-align: right;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    
}

.nav-bar-icon {
    padding-left: 20px;
    justify-content: left;
    
}
.nav-bar-text { 
    color: aliceblue;
    width: 40px;
    text-decoration: none;
    padding: 10px 15p1x;
    font-size: 25px;
    text-align: center;
    
}
    }
    


.button { 
    background-color: #33142E; 
    padding: 20px;
    border-radius: 20px;
}
.button:hover { 
    background-color:aliceblue;
    color: #33142E;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    .button-text { color: black;}
}

.button-text { 
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.button-text:hover{
    background-color:aliceblue;
    color: #33142E;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.frontpage { 
    background-image: url("../images/6a3674e2ef83b04ed6849a29b80bfa88.jpg");
    background-position: center ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.description {
    width: 40vw;
    font-size: 26px;
    padding-bottom: 20px;
}

.welcome-text{
    margin-top: 100px;
    margin-left: 120px;
    
}

.welcome-text-hello{
    font-size: 48px;
    padding-bottom: 20px;
}

.about{
    background-color: #FCDBC7;
    height: 100vh;
    width: 100vw;
    
}

.about-me-hello{
    font-size: 48px;
    padding-bottom: 20px;
    padding-top: 120px;
}

.about-me-content{
    width: 40vw;
    font-size: 26px;
    }

.about-photo{
    padding-right: 180px;
    float: right;
    margin-left: 40px;
    width: 500px;
    padding-top: 0px;
    
}

.about-me-text-group{
    padding-left: 120px;
}



.photos-container {
    display: flex;
    justify-content: space-around;
    
    background-color: #FCDBC7;
    flex-wrap: wrap;
    
}

.photo1 { flex: 1;
    max-width: 300px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;


}
.photo1 img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.photo2 { flex: 1;
    max-width: 300px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}
.photo2 img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

    

.photo3  { flex: 1;
    max-width: 300px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;

}
.photo3 img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.photo4 {flex: 1;
    max-width: 300px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;}


.interest {
    background-color: #F57F4F;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center; }

.interest-text {
    font-size: 20px;
    line-height: 30px; 
}

.material-symbols-outlined {
    font-size: 50px;
}
/*nie wiem co robie
.interest-card-heading {
    margin-bottom: 20px;
  }
  
  .interest-card p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  @media screen and (min-width: 995px) {
    .interest-wrapper {
      justify-content: space-between;
    }
    .interest-card {
      min-width: 100px;
      max-width: 20%;
      text-align: center;
    }
    */


.interest-card-heading {
    margin-bottom: 40px;
    font-size: 40px;
}

.interest1 { 
    margin-top: 350px; 
    margin-bottom: 10px; 
    margin-left: 15px; 
    margin-right: 15px;
    padding: 10px;
    max-width: 300px; 
    width: 100%; 
    text-align: center;
    float: left;
    width: 50%;}

.interest2 { margin-top: 350px; 
    margin-bottom: 10px; 
    margin-left: 15px; 
    margin-right: 15px;
    padding: 10px;
    max-width: 300px; 
    width: 100%; 
    text-align: center;
    float: left;
    width: 50%;}

.interest3 { margin-top: 350px; 
    margin-bottom: 10px; 
    margin-left: 15px; 
    margin-right: 15px;
    padding: 10px; 
    max-width: 300px; 
    width: 100%;
    text-align: center;
    float: left;
    width: 50%;}

.interest4 { margin-top: 350px; 
    margin-bottom: 10px; 
    margin-left: 15px; 
    margin-right: 15px;
    padding: 10px; 
    max-width: 300px; 
    width: 100%;
    text-align: center;
    float: left;
    width: 50%;}


    
        .photos-container {
            display: flex;
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 30px;
            justify-content: center;
        }




.contact-btn { margin: 0 auto;
    display: block;
    background-color: #F57F4F;
    color: #fff;
    border: none;
    padding: 8px 32px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-btn:hover {
    border: 1px solid #4f247c;
    background-color: #fff;
    color: #000;
}

.contact{
    background-color: #33142E;
    color: white;
    height: 700px;
    line-height: 50px;
    font-size: 20px;

    text-align: center;
    margin-bottom: 0px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 4px;
}
input,
textarea {
    width: 100%;
    border: 2px solid #F57F4F
    padding: 8px;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    border: none;
    outline: 3px solid #F57F4F; 
}

input {
    margin-bottom: 16px;
}

textarea {
    margin-bottom: 20px;
}

.contact-heading {
    text-align: center;
    margin-bottom: 30px;
}


.footer { background-color: #F57F4F;
    height: 250px;
    line-height: 120px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Ustawienie tekstu na dole */
}

.footer_text { 
    margin-bottom: 10px;
}
